.App {
  text-align: center;
}

.App-logo {
  height: 200px;
  width: 200px;
  pointer-events: none;
  margin: 0 auto;
}

.App-Logo-Wrapper{
  width: 200px;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-fade infinite 0.8s ease;
  }

  .App-Logo-Wrapper {
    animation: bounce infinite 0.75s ease;
  }
}

@keyframes App-logo-fade {
  0%{
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bounce {
  0%{
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 1;
}

.App-link {
  color: green;
}

#menu {
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  height: 250px;
  width: 200px;
  position: fixed;
}


#container{ 
  display: flex;
  justify-content: space-between;
}

.graduationphoto{
  width: 150px;
  height: 100px;
}

footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 10px;
}